.delete{
    right: 0;
    margin-top:0.5%;
    width: 15px;
    height: 15px;
    position: absolute;
}

body {
    background: #355C7D;
    background: linear-gradient(rgb(212, 152, 129), rgb(182, 84, 94), rgb(136, 74, 92), #6C5B7B, #355C7D);
    background-repeat: no-repeat;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.clickable {
    cursor: pointer;
}

.header {
    text-align: center;
    padding: 5%;
    height: 35%;
    background: #F8B195;
}

.row.todo{
    -webkit-box-shadow: inset 0px 7px 10px 0px rgb(133, 5, 23);
    -moz-box-shadow: inset 0px 7px 10px 0px rgb(133, 5, 23);
    box-shadow: inset 0px 7px 10px 0px rgb(133, 5, 23);
    background: #F67280;
    padding: 0 5%;
    overflow: hidden;
}

.row.done {
    background: #C06C84;
    padding: 0 5%;
    -webkit-box-shadow: inset 0px 7px 10px 0px rgb(103, 22, 46);
    -moz-box-shadow: inset 0px 7px 10px 0px rgb(103, 22, 46);
    box-shadow: inset 0px 7px 10px 0px rgb(103, 22, 46);
    overflow: hidden;
}

.subtitle {
    font-family: 'Satisfy', cursive;
}

.btn {
    border-radius: 50%;
    background: #355C7D;
    border: #355C7D;
    font-size: 25px;
    width: 45px;
    -webkit-box-shadow: 2px 6px 6px -1.5px rgba(137, 60, 38, 0.75);
    -moz-box-shadow: 2px 6px 6px -1.5px rgba(137, 60, 38, 0.75);
    box-shadow: 2px 6px 6px -1.5px rgba(137, 60, 38, 0.75);
}

.button {
    margin-top: 5%;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    height: 25%;
    overflow-y: scroll;
    box-sizing: content-box;
}

.input {
    background: none;
    border: none;
}

.hidden {
    display: none;
}

.task, .input {
    margin: 0 5px;
    padding: 0 5px;
}

.col-xs-12.todo {
    background: rgb(245, 194, 199);
}

.col-xs-12.done {
    background: rgb(230, 186, 198);
    ;
}

::placeholder {
    color: white;
    opacity: 1;
}

.btn:hover {
    color: rgb(247, 166, 134);
}

.unstarred { 
    margin-right: 5px;
    cursor: pointer;
}

.starred {
    margin-right: 5px;
    cursor: pointer;
    filter: saturate(5);
}