.delete{
    float: right;
    margin-top:0.5%;
    width: 17px;
    height: 17px;
}
body {
    background: #355C7D;
    background: linear-gradient(rgb(212, 152, 129), rgb(182, 84, 94), rgb(136, 74, 92), #6C5B7B, #355C7D);
    color: white;
}

.clickable {
    cursor: pointer;
}

.header {
    text-align: center;
    padding: 5%;
    padding-top: 10%;
    background: #F8B195;
}

.todo {
    background: #F67280;
    padding: 0 5%;
}

.done {
    background: #C06C84;
    padding: 0 5%;
}

.subtitle {
    font-family: 'Satisfy', cursive;
}

.button {
    border-radius: 50%;
    background: #355C7D;
    border: #355C7D;
}

.btn {
    margin-top: 10%;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
}

.input {
    background: none;
    border: none;
}

.hidden {
    display: none;
}

.task, .input {
    margin: 0 5px;
    padding: 0 5px;
}

.col-xs-12.todo {
    background: rgb(247, 175, 182);
}

.col-xs-12.done {
    background: rgb(228, 164, 182);;
}

::placeholder {
    color: white;
    opacity: 1;
}

.btn:hover, .button:hover{
    color: rgb(247, 166, 134);
}